# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
backend/crop_model/venv/
venv/
.env/
.venv/
.env
**/.env

# Ignore datasets or large files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.pkl
*.joblib

# Ignore IDE configs
.vscode/
.idea/
